footer {
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  background-color: #6b6b6b;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 10px;
}
footer .link {
  flex-grow: 1;
  height: 200px;
  background-color: deeppink;
}
